.board{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 40vw;
    height: 40vw;
    background-color: rgb(13, 69, 237);
    padding: 1vw;
}
.board > div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

}
.board > div > div{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px black solid;
}